<!doctype html>
{% from "_helpers.html" import link_to %}
<head>
    <title>Theme Sandbox &mdash; {{ title }}</title>
    <link rel=stylesheet type=text/css href="{{ theme_static('style.css') }}">
    {% block head %}{% endblock head %}
</head>
<div class=page>
    <h1>Theme Sandbox</h1>
    <div class=nav>
        {{ link_to('Index', 'index') }} |
        {{ link_to('Archive', 'archive') }} |
        {{ link_to('About', 'about') }} |
        {{ link_to('Themes', 'themes') }}
    </div>
    
    {% block body %}{% endblock %}
</div>
